.header {
  display: grid;
  grid-template-areas:
    'menu title cart'
    'searchbar searchbar searchbar';
  grid-template-columns: auto 1fr auto;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.menu {
  grid-area: menu;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey);
}

.menu:hover {
  background-color: var(--color-grey-hover);
}

.title {
  grid-area: title;
  font-family: 'Playfair Display', serif;
}

.searchbar {
  grid-area: searchbar;
  justify-self: end;
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
  border-radius: 10px;
  width: 100%;
  padding: .3rem 1rem;

}

.searchbar:focus-within{
  box-shadow: 0 1px 3px 0px #000a444f;
}

.searchbar input {
  background-color: transparent;
  outline: none;
  flex-grow: 1;
}

.searchbar input::placeholder {
  color: #919394;
}

.cart {
  grid-area: cart;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-grey);
  border-radius: 50%;
  position: relative;
}

.cart:hover{
  background-color: var(--color-grey-hover);
}

.cartNotification::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.itemList {
  grid-area: itemList;
  display: none;
  gap: 2rem;
  position: relative;
}

.itemList a[data-active]{
  font-weight: 700;
  position: relative;
}

.itemList a[data-active]::before {
  position: absolute;
  content: '';
  left: -5px;
  width: 1.5rem;
  height: 1.5rem;
  background-color:#849DFE;
  opacity: .2;
  border-radius: 50%;
  z-index: -1;
}

.itemList a[data-active="true"]::after {
  content: '.';
}

/* media queries */

@screen md {
  .header {
    grid-template-areas: 'title _ searchbar cart' 'itemList itemList itemList itemList';
    grid-template-columns: auto 1fr auto auto;
    padding: 1rem 3rem;
  }

  .menu {
    display: none;
  }

  .itemList {
    display: flex;
    justify-self: center;
  }
}


@screen lg {
  .header {
    grid-template-areas: 'title itemList searchbar cart';
    grid-template-columns: auto 1fr auto auto;
  }

  .itemList{
    background-color: transparent;
    justify-self: end;
  }


}