.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.heroContainer {  
  background-color: var(--color-light-blue);
  padding: 3rem 1rem;
}

.text h1{
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.price {
  font-size: 1.2rem;
}

@screen md {
  .hero {
    flex-direction: row;
    text-align:left;
  }

  .hero > div {
    width: 50%;
  }
}