.productList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 5rem;
}

@screen sm {
  .productList{
    grid-template-columns: repeat(2, 1fr);
  }
}

@screen md {
  .productList{
    grid-template-columns: repeat(3, 1fr);
  }
}
