@tailwind base;
@tailwind components;
@tailwind utilities;

/** colors */
:root {
  --color-grey: #F5F8FA;
  --color-grey-hover:#dae2e7;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Poppins', sans-serif;
}

button:focus {
  outline: none;
}