@tailwind base;
@tailwind components;
@tailwind utilities;

/** colors */
:root {
  --color-grey: #F5F8FA;
  --color-grey-hover:#dae2e7;
  --color-blue: #000DAE;
  --color-blue-hover:#00086D;
  --color-light-blue:#FAFDFF;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Poppins', sans-serif;
}

button:focus {
  outline: none;
}

.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.btn-1 {
  background-color: var(--color-blue);
  color: #fff;
  padding: 1rem;
}

.btn-1:hover {
  background-color: var(--color-blue-hover);
}